.seccion-home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container-table {
    margin-top: 50px;
}

.container-buttons-table-top {
    height: fit-content;
    padding: 10px 5px 5px 5px;
    border-radius: 10px 10px 0 0;
    border: 1px solid #71787b;
}

.container-buttons-table-top button {
    padding: 12px;
    font-size: medium;
    border: 1px solid var(--bg-white);
    font-weight: bold;
    border-radius: 15px;
    color: var(--bg-whitish-gray);
    background: var(--bg-dark-blue);
    transition: 0.1s;
    cursor: pointer;
}

.container-buttons-table-top button:hover {
    color: var(--bg-dark-blue);
    border: 1px solid var(--bg-dark-blue);
    background: var(--bg-white);
}

.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 100%;
    overflow: hidden;
    font-weight: bold;
    box-shadow: 0 0 20px 0 var(--bg-whitish-gray);
}

.content-table thead tr {
    background-color: var(--bg-dark-blue);
    color: var(--bg-white);
    text-align: left;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.container-table tbody tr {
    border-bottom: 1px solid var(grey);
}

.container-table tbody tr:nth-of-type(even) {
    background-color: var(--bg-whitish-gray);
}

.container-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--bg-dark-blue);
}

.container-buttons-table-aside {
    display: flex;
    padding: 10px;
    font-size: 0;
    gap: 5px;
}

.table-button-delete {
    background-color: var(--bg-red);
    color: var(--bg-white);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

.table-button-delete:hover {
    background: var(--bg-red-darker);
}

.table-button-update {
    background-color: var(--bg-sky-blue);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

.table-button-update:hover {
    background: #1b90f0;
}

.table-button-complete {
    background-color: var(--bg-green);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

.table-button-complete:hover {
    background-color: var(--bg-green-darker);
}

.table-button-no-complete {
    background-color: var(--bg-red);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

.table-button-no-complete:hover {
    background-color: var(--bg-red-darker);
}

.container-table-button-top {
    border: 1px solid var(--bg-ocean-blue);
    padding: 5px;
    display: flex;
    border-radius: 10px 10px 0 0;
}

.container-table-button-top p {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.list-container-buttons {
    display: flex;
    list-style: none;
    gap: 5px;
}

.list-container-buttons li {
    margin-right: 10px;
}

.table-button-add,
.add-personal,
.history-turns-btn,
.actual-turns-btn {
    display: inline-flex;
    align-items: center;
    background-color: white;
    border: 1px solid white;
    color: var(black);
    padding: 10px;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.3s;
}

.table-button-add img,
.add-personal img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.table-button-add:hover,
.add-personal:hover,
.history-turns-btn:hover,
.actual-turns-btn:hover {
    border: 1px solid black;
    background-color: #ffffff;
}

.logoutbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 15px;
    transition: 0.2s;
}

.logoutbtn:hover {
    background-color: var(--bg-gray-ligth);
}

.logoutbtn img {
    max-width: 15px;
    max-height: 15px;
}

.select-dni {
    width: 140px;                  /* Ocupa todo el ancho del contenedor */
    padding: 10px;                /* Espaciado interno */
    font-size: 16px;              /* Tamaño de fuente */
    color: #333;                  /* Color del texto */
    background-color: #f7f7f7;    /* Color de fondo */
    border: 2px solid #ccc;       /* Borde */
    border-radius: 5px;           /* Bordes redondeados */
    appearance: none;             /* Oculta el icono por defecto en algunos navegadores */
    margin-right: 5px;
    }

.select-dni:focus {
    border-color: #007bff;        /* Color del borde al hacer foco */
    outline: none;                /* Elimina el borde por defecto */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra para indicar foco */
    }

.select-dni:disabled {
    background-color: #e9ecef;    /* Color de fondo cuando está deshabilitado */
    color: #6c757d;               /* Color del texto cuando está deshabilitado */
    cursor: not-allowed;          /* Cambia el cursor */
    }