.seccion-home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container-table {
    margin-top: 50px;
}

.container-buttons-table-top {
    height: fit-content;
    padding: 10px 5px 5px 5px;
    border-radius: 10px 10px 0 0;
    border: 1px solid #71787b;
}

.container-buttons-table-top button {
    padding: 12px;
    font-size: medium;
    border: 1px solid var(--bg-white);
    font-weight: bold;
    border-radius: 15px;
    color: var(--bg-whitish-gray);
    background: var(--bg-dark-blue);
    transition: 0.1s;
    cursor: pointer;
}

.container-buttons-table-top button:hover {
    color: var(--bg-dark-blue);
    border: 1px solid var(--bg-dark-blue);
    background: var(--bg-white);
}

.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    overflow: hidden;
    font-weight: bold;
    box-shadow: 0 0 20px 0 var(--bg-whitish-gray);
}

.content-table thead tr {
    background-color: var(--bg-dark-blue);
    color: var(--bg-white);
    text-align: left;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.container-table tbody tr {
    border-bottom: 1px solid var(grey);
}

.container-table tbody tr:nth-of-type(even) {
    background-color: var(--bg-whitish-gray);
}

.container-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--bg-dark-blue);
}

.container-buttons-table-aside {
    padding: 10px;
    font-size: 0;
}

.table-button-delete {
    padding: 12px;
    font-size: medium;
    border: 1px solid var(--bg-white);
    font-weight: bold;
    border-radius: 15px;
    color: var(--bg-whitish-gray);
    background: var(--bg-red);
    transition: 0.1s;
    cursor: pointer;
}

.table-button-delete:hover {
    color: var(--bg-red);
    border: 1px solid var(--bg-red);
    background: var(--bg-white);
}

.table-button-update {
    padding: 12px;
    font-size: medium;
    border: 1px solid var(--bg-white);
    font-weight: bold;
    border-radius: 15px;
    color: var(--bg-whitish-gray);
    background: var(--bg-ocean-blue);
    transition: 0.1s;
    cursor: pointer;
    margin-right: 10px;
}

.table-button-update:hover {
    color: var(--bg-ocean-blue);
    border: 1px solid var(--bg-ocean-blue);
    background: var(--bg-white);
}

.container-table-button-top {
    border: 1px solid var(--bg-ocean-blue);
    padding: 5px;
    display: flex;
    border-radius: 10px 10px 0 0;
}

.container-table-button-top p {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.list-container-buttons {
    display: flex;
    list-style: none;
}

.list-container-buttons li {
    margin-right: 10px;
}

.table-button-add,
.add-personal,
.history-turns-btn,
.actual-turns-btn {
    display: inline-flex;
    align-items: center;
    background-color: white;
    border: 1px solid white;
    color: var(black);
    padding: 10px;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.3s;
}

.actual-turns-btn {
    margin-left: 5px;
    margin-right: 5px;
}

.table-button-add img,
.add-personal img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.table-button-add:hover,
.add-personal:hover,
.history-turns-btn:hover,
.actual-turns-btn:hover {
    border: 1px solid black;
    background-color: #efefef;
}

.logoutbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 15px;
    transition: 0.2s;
}

.logoutbtn:hover {
    background-color: #efefef;
}

.logoutbtn img {
    max-width: 15px;
    max-height: 15px;
}

.show {
    display: block;
}

.unshow {
    display: none;
}