<section class="comentarios-container">

    <div class="comentarios-top">
        <h2>COMENTARIOS DE CLIENTES</h2>
    </div>

    <div class="comentarios-bot">
        <div class="box">
            <img src="./assets/icons/comillas.svg" alt="">
            <p>
                La atención en el Centro Clínico Vitalis es excelente. Los médicos se toman el tiempo para explicar todo y te hacen sentir muy cómodo. Sin duda lo recomiendo.
            </p>
            <div class="cliente">
                <div class="cliente-foto cliente1">
                    <img src="./assets/images/cliente1.jpg" alt="">
                </div>
                <p>Carla<br>Méndez</p>
            </div>
        </div>
        <div class="box">
            <img src="./assets/icons/comillas.svg" alt="">
            <p>
                Me impresionó la rapidez del servicio. Fui por un chequeo y desde la recepción hasta la consulta todo fue muy organizado. Volveré sin dudarlo.
            </p>
            <div class="cliente">
                <div class="cliente-foto cliente2">
                    <img src="./assets/images/cliente2.jpg" alt="">
                </div>
                <p>Javier<br>Torres</p>
            </div>
        </div>
        <div class="box">
            <img src="./assets/icons/comillas.svg" alt="">
            <p>
                El personal es muy amable y profesional. Me sentí bien atendida y en confianza desde el primer momento. Definitivamente es mi clínica de confianza.
            </p>
            <div class="cliente">
                <div class="cliente-foto cliente3">
                    <img src="./assets/images/cliente3.jpg" alt="">
                </div>
                <p>Sofía<br>Ramírez</p>
            </div>
        </div>
    </div>
    
</section>