<section class="nosotros-container">
    <article>
        <div class="nosotros-foto-container">
            <img src="./assets/images/imagen1.png" alt="frente del edificio">
        </div>
        <div class="nosotros-texto">
            <h3>Nosotros</h3>
            <p>
                En Centro Clínico Vitalis nos dedicamos a cuidar tu salud de manera integral, 
                brindando servicios médicos de alta calidad con un equipo de profesionales comprometidos con tu bienestar. 
                Nuestro enfoque está en ofrecer atención personalizada, diagnósticos precisos y tratamientos eficaces, en un ambiente moderno y confortable. 
            </p>
        </div>
    </article>
</section>